@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$violet: hsl(263, 55%, 52%);
$darkgray: hsl(217, 19%, 35%);
$darkblack: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);
$lightgray: hsl(0, 0%, 81%);
$lightgrayblue: hsl(210, 46%, 95%);

* {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}


p {
    margin: 0;
    font-weight: 500;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.container {
    max-width: 567px;
    padding-inline: 1rem;
    margin-inline: auto;
    @media (min-width: 1100px) {
        max-width: 1100px;
    }
}

body {
    margin: 0;
    color: $darkblack;
    background-color: $white;
    font-size: 13px;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    min-height: 100dvh;
}

section {
    padding: 2rem 0;
}

.testimonial-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    @media(min-width:567px){
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(4, 1fr);
    }
}

.card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    padding: 2rem;
    background-repeat: no-repeat;
    background-position: top right 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $white;
    color: $darkblack;
    .author-header {
        display: flex;
        gap: 1rem;
        align-items: center;
        .img-wrapper{
            border-radius: 50%;
            overflow: hidden;
            border: 2px solid rgba($lightgray, 0.25);
            img{
                object-fit: cover;
            }
        }
        .author-info {
            display: grid;
            gap: 2px;
            color: $darkgray;
            strong, span{
                font-weight: 500;
            }
            span{
                font-size: 12px;
                color: rgba($darkgray, 0.5);
            }
        }
    }

    h3{
        color: $darkgray;
        font-size: 1.2rem;
        font-weight: 600;
        margin-block: 1rem;
    }

    p{
        color: rgba($darkgray, 0.7);
    }

    &[data-author="Daniel"] {
        color: $white;
        background-color: $violet;
        background-image: url('../images/bg-pattern-quotation.svg');
        .author-info {
            color: $white;
            span{
                color: rgba($white, 0.5);
            }
        }
        h3{
            color: $white;
        }
        p{
            color: rgba($lightgray, 0.7);
        }
        @media(min-width:567px){
            grid-column: 1 / 3;
            grid-row: 1;
      
        }
        @media(min-width:1100px){
            grid-column: 1 / 3;
            grid-row: 1;
        }

    }
    
    &[data-author="Jonathan"] {
        color: $white;
        background-color: $darkgray;
        .author-info {
            color: $white;
            span{
                color: rgba($white, 0.5);
            }
        }
        h3{
            color: $white;
        }
        p{
            color: rgba($lightgray, 0.7);
        }
        @media(min-width:567px){
            grid-column: 3 / 5;
            grid-row: 1;
        }

        @media(min-width:1100px){
            grid-column: 3 / 4;
            grid-row: 1;
        }

    }

    &[data-author="Jeanette"] {
        @media(min-width:567px){
            grid-column: 1 / 3;
            grid-row: 2;
        }

        @media(min-width:1100px){
            grid-column: 1 / 2;
            grid-row: 2;
        }

    }
    
    &[data-author="Patrick"] {
        color: $white;
        background-color: $darkblack;
        h3{
            color: $white;
        }
        p{
            color: rgba($lightgray, 0.7);
        }
        .author-info {
            color: $white;
            span{
                color: rgba($white, 0.5);
            }
        }
        @media(min-width:567px){
            grid-column: 3 / 5;
            grid-row: 2;
        }

        @media(min-width:1100px){
            grid-column: 2 / 4;
            grid-row: 2;
        }

    }

    &[data-author="Kira"] {
        @media(min-width:567px){
            grid-column: 1 / 5;
            grid-row: 3;
        }

        @media(min-width:1100px){
            grid-column: 4 / 5;
            grid-row: 1 / 3;
        }

    }
}

.attribution {
    text-align: center;
    font-size: 14px;
    margin: 1rem auto;
    color: rgba($darkblack, 0.75);
    a {
        color: $violet;
        transition: color 0.3s ease;
        &:hover {
            color: rgba($violet, 0.5);
        }
    }
}
